<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvVVbmupTl7JcY3SqHmeEyThDx83Ulbcw</string>
	<key>GCM_SENDER_ID</key>
	<string>727632334880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.bump</string>
	<key>PROJECT_ID</key>
	<string>bump-eos</string>
	<key>STORAGE_BUCKET</key>
	<string>bump-eos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727632334880:ios:ca5ba01cdc18a4649cac45</string>
</dict>
</plist>